:root{
    --color-backgorund:#EEEEEE;
    --color-primario:#76ABAE;
    --color-secundario:#31363F;
    --color-enfasis:#222831;
}

*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    height: auto;

}

body{
    height: 100vh;
    background:linear-gradient( #EEEEEE 85%, #76ABAE );
    background-repeat: no-repeat;
    margin: 0%;
    background-attachment: fixed;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 1.2em;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: var(--color-enfasis);
    margin-top: 90px;
    text-transform: lowercase;
    background-color: var(--color-backgorund);
}
::placeholder{ color: var(--color-enfasis);}
    .text-area:focus{
        outline: none;
    }

    .mensaje{
        background: var(--color-primario);
        background-image: url("../img/Muneco.png");
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: var(--color-backgorund);
        margin-left: 98px;
        margin-top: 90px;
        padding-left: 20px;
        position: absolute;
    }
    .mensaje:focus{
        outline: none;
        color: white;
    }

    .botones{
        display: flex;
        margin-top: 18px;
    }
    
    .btn__encriptar{
        background-color: var(--color-secundario);
        border: 1px solid;
        border-color: var(--color-secundario);
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 67px;
        width: 328px;
    }
    
    .btn__desencriptar{
        background-color: var(--color-primario);
        border: 1px solid;
        border-color: var(--color-primario);
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 67px;
        margin-left: 30px;
        width: 328px;
    }
    
    .boton_copiar{
        border: 1px solid;
        border-radius: 24px;
        border-color: var(--color-primario);
        color: var(--color-secundario);
        cursor: pointer;
        height: 67px;
        margin-left: 128px;
        margin-top: 480px;
        position:relative;
        width: 300px;
    }

.informacion{
    color: black;
    font-size: 18px;
}
