:root{
    --color-backgorund:#EEEEEE;
    --color-primario:#76ABAE;
    --color-secundario:#31363F;
    --color-enfasis:#222831;
}

*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 66%;
}

body{
    height: 100vh;
    background:linear-gradient( #EEEEEE 85%, #76ABAE );
    background-repeat: no-repeat;
    margin: 0%;
    background-attachment: fixed;
}

header{
background-color: var(--color-primario);
display: flex;
align-items: center; /* Alinea los elementos verticalmente */
justify-content: space-between; /* Espacia los elementos horizontalmente */
padding: 5px 10px; /* Reduce el padding */
}

.logo{
    
    width: 40px; /* Tamaño más pequeño para el logo */
    margin-left: 5px;
    
}

main{
    display: flex;
    margin-bottom: 0%;
    margin-left: 80px;
}

section {
    position: relative;
}

.text-area{
    border: none;
    color: var(--color-enfasis);
    margin-top: 90px;
    margin-bottom: none;
    text-transform: lowercase;
    background-color: var(--color-backgorund);
}
::placeholder{ color: var(--color-enfasis);}
    .text-area:focus{
        outline: none;
    }

    .mensaje{
        background: var(--color-primario);
        background-image: url("../img/Muneco.png");
        background-repeat: no-repeat;
        border: none;
        border-radius: 24px;
        color: var(--color-backgorund);
        margin-left: 98px;
        margin-top: 20px;
        padding: 20px;
        position: relative;
        width: 300px;
        height: 95%; /* Ajusta según el tamaño necesario */
    }
    .mensaje:focus{
        outline: none;
        color: white;
    }

    .botones{
        display: flex;
       margin-top: 0%;
    }
    
    .btn__encriptar{
        background-color: var(--color-secundario);
        border: 1px solid;
        border-color: var(--color-secundario);
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 1.5em;
        width: 40%;
    }
    
    .btn__desencriptar{
        background-color: var(--color-primario);
        border: 1px solid;
        border-color: var(--color-primario);
        border-radius: 24px;
        color: white;
        cursor: pointer;
        height: 1.5em;
        margin-left: 20px;
        width: 40%;
    }
    
    .boton_copiar{
        position: absolute;
        bottom: 0px; /* Coloca el botón en la parte inferior */
        left: 50%;
        transform: translateX(-50%); /* Centra horizontalmente el botón */
        border: 1px solid;
        border-radius: 24px;
        border-color: var(--color-primario);
        color: var(--color-secundario);
        cursor: pointer;
        height: 1.5em;
        width: 60%;
        margin-left: 50px;
        margin-bottom: 1%;
    }

.informacion{
    color: var(--color-enfasis);
    font-size: 18px;
    padding-top: -100px;
}

footer{
    color: var(--color-enfasis);
    margin-top: 3%;
    font-size: px;
    
}

.text__footer{
    font-size: 18px;
    color: var(--color-enfasis);
    padding-left: 45%;
}
